pkgbase = needrestart-git
	pkgdesc = Restart daemons after library updates.
	pkgver = 3.11.r0.g6d7a76b
	pkgrel = 6
	url = https://github.com/liske/needrestart
	arch = any
	license = GPL-2.0-or-later
	makedepends = git
	depends = perl-module-find
	depends = perl-term-readkey
	depends = perl-proc-processtable
	depends = perl-sort-naturally
	depends = perl-module-scandeps
	depends = perl-libintl-perl
	optdepends = iucode-tool: for outdated Intel microcode detection
	provides = needrestart
	conflicts = needrestart
	backup = etc/needrestart/needrestart.conf
	backup = etc/needrestart/notify.conf
	source = git+https://github.com/liske/needrestart.git
	source = needrestart.hook
	source = 0001-vmlinuz-get-version-implement-decompression-for-LZ4-.patch
	source = 0002-AOSCOS-normalize-sbin-bin.patch
	sha256sums = SKIP
	sha256sums = e5c6696a281f5445a3b7e2b7d1055f9189a2c39d4940721aa0c2718780f15f63
	sha256sums = 1bdb982d39c09ac871362500b7e3da46fc575b7f5a2a352a76b8ab87984a66e7
	sha256sums = 8bf6b0f082e4590231c6a360ebbd1f5952bf320b28221f8935fd5f5b21667107

pkgname = needrestart-git
